site_name: 'Jetpack Compose Rules'
site_description: 'Compose Rules is a set of custom ktlint and detekt rules to ensure that your composables do not fall into common pitfalls'
site_author: 'Nacho Lopez'
site_url: 'https://mrmans0h.github.io/compose-rules/'
edit_uri: 'tree/main/docs/'
remote_branch: gh-pages

docs_dir: docs

repo_name: 'Compose Rules'
repo_url: 'https://github.com/mrmans0n/compose-rules'

# Navigation
nav:
    - 'Overview': index.md
    - 'Using with ktlint': ktlint.md
    - 'Using with detekt': detekt.md
    - 'Rules': rules.md

# Configuration
theme:
    name: 'material'
    language: 'en'
    palette:
        primary: 'deep orange'
        accent: 'red'
    font:
        text: 'Roboto'
        code: 'JetBrains Mono'
    icon:
        logo: img/logo-square.webp

# Extensions
markdown_extensions:
    - admonition
    - attr_list
    - codehilite:
          guess_lang: false
    - footnotes
    - toc:
          permalink: true
    - pymdownx.betterem
    - pymdownx.superfences
    - pymdownx.tabbed
    - pymdownx.details
    - mdx_truly_sane_lists
